    .MainCodeTitle
    {
            text-decoration: underline;
    }
    
    .ToÜberMichBtn
    {
            transform: scale(3);
    }

    .ToÜberMichBtn
    {
            position: relative;
            left: 80px;
            top: 30px;
            color: darkolivegreen;
    }

    .ToÜberMichBtn:hover
    {
            transform: scale(3.1);
    }

    .ToÜberMichBtn
    {
            transition: all 0.5s;
    }
        
    .ToMainBtn
    {
            transform: scale(2.2);
    }

    .ToMainBtn
    {
            position: relative;
            left: 60px;
            top: 80px;
    }

    .ToMainBtn:hover
    {
            transform: scale(2.3);
    }

    .ToMainBtn
    {
            transition: all 0.5s;
    }
        

    .AboutMeInfo
    {
            position: relative;
            left: 20px;
            color: darkolivegreen;
            
    }

    .ToKontaktBtn
    {
            position: relative;
            transform: scale(3);
            top: 30px;
            left: 270px;
            color: darkolivegreen;
            
    }
        .ToKontaktBtn:hover
    {
            transform: scale(3.1);
    }

        .ToKontaktBtn
    {
            transition: all 0.5s;
    }

    .ContactMeInfo
    {
            position: relative;
            left: 20px;
            color:darkolivegreen;
    }

    .KontaktDaten
    {
            position: relative;
            left: 20px;
            color: darkolivegreen;
    }

    .ToKontaktSubBtn
    {
            position: relative;
            transform: scale(2.2);
            left: 180px;
            top: 80px;
    }

    .ToKontaktSubBtn:hover
    {
            transform: scale(2.3);
    }

    .ToKontaktSubBtn
    {
        transition: all 0.5s;
    }

    .ToÜberMichSubBtn
    {
        font-display: flex;
            position: relative;
            transform: scale(2.2);
            left: 180px;
            top: 80px;
    }

    .ToÜberMichSubBtn:hover
    {
        transform: scale(2.3);
    }

    .ToÜberMichSubBtn
    {
        transition: all 0.5s;
    }